html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  height: calc(100% - 20px);
  background-color: #AAAAAA;
  display: flex;
  flex-flow: column;
}

article {
  margin-top: 10px;
  height: calc(100vh - 95px);
}

header {
  flex: 0 1 auto;
}

.header_label {
  font-size: 1.5em;
  margin-left: 1em;
}

section {
  flex: 1 1 auto;
}

footer {
  text-align: center;
  flex: 0 1 auto;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.items_heading, .item_row {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.items {
  overflow-y: auto;
  height: calc(100vh - 105px);
}

.items_heading {
  border-bottom: thin solid black;
  font-weight: bold;
}

.item_row:nth-child(even) {
  background-color: #818181;
}

@media (min-width: 800px) {
  body {
    width: 800px;
    margin: 10px auto 10px auto;
  }
}
