{% extends "base.html" %}

{% block scripts %}
<script src="./budget.js"></script>
{% end %}

{% block header %}
	Budget
{% end %}

{% block article %}
<form method="POST">
	<table id="budget">
		<col width="80%">
		<col width="20%">
		<tr>
			<th>Category</th>
			<th>Amount</th>
		</tr>
		{%for cat in budget%}	
			<tr>
				<td>{{cat.name}}</td>
				<td>
					<input type="text" id="cat_{{cat.id}}"  name="cat_{{cat.id}}" onchange="calc_sum()" value="{{cat.sum}}">
				</td>
			</tr>
		{% end %}
			<tr style="background-color:#555">
				<td><b>TOTAL</b></td><td id="total"><b>Browser fill total</b></td>
			</tr>
		</table>
	<input syle="width: 20px" type="submit" value="Update">
</form>
{% end %}
