{% extends "base.html" %}

{% block header %}
		Cities
{% end %}

{% block styles %}
<link rel="stylesheet" href="./tab_styles.css" />
{% end %}

<!-- Needs a list of city objects  -->
{% block article %}
<!-- Tab buttons -->
<div class="tab">
	{% for city in cities %}
        <button class="tablinks" onclick="openCity(event, '{{city['name']}}')">{{city['name']}}</button>
	{% end %}
</div>

<!-- Tab content -->
{% for city in cities %}
    <div id="{{city['name']}}" class="tabcontent">
        <h3>{{city['name']}}</h3>
        <p>{{city['description']}}</p>
        <div class="close_btn" onclick="this.parentElement.style.display='none'">Close</div>
    </div>
{% end %}
{% end %}