{% extends "base.html" %}

{% block header %}
		Budget
{% end %}

{% block scripts %}
	<script src="./budget.js"></script>
{% end %}

{% block article %}
<form id="expenses_form">
	<div class="expense_header">
		<div class="cat_input">Expense</div>
		<div class="cat_input">Amount</div>
	</div>
	<div id="expenses">
	</div>
	<div style="display: flex; justify-content: space-between">
		<button id="update_btn">Update</button>
		<button type="button" id="next_btn" onclick="next_month()">Next month</button>
	</div>
</form>
{% end %}
