{% extends "base.html" %}

{% block header %}
		Transactions - {{ date_string }}
{% end %}

{% block styles %}
{% end %}

<!-- Needs a list of city objects  -->
{% block article %}
	<div class="items_heading">
		<div class="cat_input">Expense</div><div class="cat_input">Description</div><div class="cat_input">Amount</div>
	</div>
<div class="items">
{% for t in transactions %}
	<div class="item_row">
		<div class="cat_input">{{ t['expense'] }}</div><div class="cat_input">{{ t['desc'] }}</div><div class="cat_input">{{ f"{t['amount']:,.0f}" }}</div>
	</div>
{% end %}
</div>
{% end %}